<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Software development expertise</h2>
                <hr class="light">
                <p class="text-faded">We deliver solutions following the latest technology trends and an industry-focused approach!</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Technologies</a>
            </div>
        </div>
    </div>
</section>
