<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CLIENT SIDE
                            </div>
                            <div class="project-name">
                                React
                                Angular
                                Vue.js
                                Ember.js
                                Meteor
                                Aurelia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SERVER SIDE
                            </div>
                            <div class="project-name">
                                Node.js
                                Express
                                Koa
                                Flask
                                Django
                                Java
                                PHP
                                Laravel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DATABASE
                            </div>
                            <div class="project-name">
                                MySQL 
                                PostgreSQL
                                Cassandra
                                MongoDB
                                Redis
                                CouchDB
                                ElasticSearch
                                Amazon-RDS
                                DynamoDB
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MOBILE SOFTWARE
                            </div>
                            <div class="project-name">
                                Ionic
                                ReactNative
                                NativeScript
                                Flutter
                                Objective-C
                                Swift
                                Java
                                Kotlin
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CLOUD SERVICE
                            </div>
                            <div class="project-name">
                                    AWS 
                                    S3
                                    EC2
                                    CDN
                                    Heroku
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AUXILIARY TOOLS
                            </div>
                            <div class="project-name">
                                Docker
                                Docker-Compose 
                                Circle-CI
                                GIT
                                Apache
                                Nginx
                                Grunt
                                Sass
                                Compass
                                Less
                                Jade
                                Google-Analytics
                                Optimizely
                                Sailthru
                                OAuth-2.0
                                Jenkins
                                BeamStream
                                Gulp
                                Webpack
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
